<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${proveedor.id_proveedor != null} ? 'Editar Proveedor' : 'Nuevo Proveedor'"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow border-0">
                    <div class="card-header bg-primary text-white text-center py-3">
                        <h4 class="mb-0" th:text="${proveedor.id_proveedor != null} ? 'Actualizar Proveedor' : 'Registro de Proveedor'"></h4>
                    </div>
                    <div class="card-body p-4">
                        <form th:action="@{/proveedores/guardar}" th:object="${proveedor}" method="post">
                            
                            <input type="hidden" th:field="*{id_proveedor}">

                            <div class="mb-3">
                                <label class="form-label fw-bold">Nombre / Razón Social</label>
                                <input type="text" th:field="*{nombre}" class="form-control" placeholder="Ej: Importadora Perez S.A." required>
                            </div>

                            <label class="form-label">RUC/Identificación</label>
                                <input type="text" 
                                    th:field="*{ruc}" 
                                    class="form-control" 
                                    placeholder="Ej: 1726354412"
                                    minlength="10" 
                                    maxlength="13" 
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                    required>
                                
                                <div class="text-danger small fw-bold mt-1" 
                                    th:if="${#fields.hasErrors('ruc')}" 
                                    th:errors="*{ruc}">
                                </div>

                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-success fw-bold">
                                    <span th:text="${proveedor.id_proveedor != null} ? 'GUARDAR CAMBIOS' : 'REGISTRAR PROVEEDOR'"></span>
                                </button>
                                <a th:href="@{/proveedores}" class="btn btn-outline-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>